*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    background-color: get-color('gray-lighter');
    color: get-color('black-normal');
    font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
    text-align: left;
    margin: 0;
}

main {
    display: block;
}

h1 {
    @include typo('preset1');
}

h2 {
    @include typo('preset2');
}

h3 {
    @include typo('preset3');
}

h4 {
    @include typo('preset4');
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: get-color('black-dark');
}

a {
    color: get-color('green-normal');
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

textarea {
    min-width: 100%;
    max-width: 100%;
}