/**
 * Auth
 *
 * Styles for auth page (login, registration).
 */

.page-auth {
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth {
    flex: 400px 0 1;
    width: 400px;
    &__heading {
        @include typo('preset3');
        margin: 0 0 get-space('m');
    }
}