/**
 * Home
 *
 * Styles for home page.
 */

.hero {
    display: flex;
    align-items: center;
    min-height: 440px;
    padding: get-space('xl') 0;
    background-color: get-color('green-normal');
    text-align: center;
    .theme-purple & {
        background-color: get-color('purple-normal');
    }
    &__heading {
        color: white;
        font-size: 48px;
        line-height: 56px;
        font-weight: bold;
        margin: 0;
    }
}