/**
 * Recipe
 *
 * Styles for recipe page.
 */

.reviews {
    & > .review-card + .review-card {
        margin-top: get-space('m');
    }
}

.review-card {
    display: flex;
    align-items: flex-start;
    background-color: white;
    padding: get-space('m');
    border-radius: 4px;
    &__avatar {
        background-color: get-color('gray-light');
        flex-shrink: 0;
        margin-right: get-space('s');
        overflow: hidden;
        border-radius: 50px;
        width: 64px;
        height: 64px;
        &--no-avatar {
            display: flex;
            align-items: center;
            justify-content: center;
            & > p {
                font-size: 32px;
                line-height: 32px;
                font-weight: bold;
                color: get-color('gray-normal');
                user-select: none;
                margin: 0;
            }
        }
    }
    &__heading {
        margin: 0 0 get-space('xxs');
        @include typo('preset5');
    }
    &__date {
        color: get-color('black-light');
        margin: 0 0 get-space('xs');
        @include typo('preset7');
    }
    &__review {
        margin: 0;
    }
    &__rating {
        margin-top: get-space('s');
    }
}


.recipe {
    background-color: white;
    overflow: hidden;
    border-radius: 4px;
    padding-top: get-space('l');
    padding-bottom: get-space('l');
    &__image {
        margin-top: get-space('l');
    }
}

.recipe-header {
    padding-left: get-space('m');
    padding-right: get-space('m');
    &__heading {
        margin: 0;
        @include typo('preset2');
    }
    &__meta {
        display: flex;
        align-items: center;
        margin-top: get-space('xs');
        flex-wrap: wrap;
    }
    &__rating {
        margin-right: get-space('s');
    }
    &__reviews {
        color: get-color('black-light');
        text-decoration: underline;
        margin-right: get-space('s');
        @include typo('preset7');
    }
}

.recipe-images {
    padding: 0 get-space('m');
    margin-top: get-space('s');
    &__link {
        display: block;
        overflow: hidden;
        border-radius: 4px;
        transition: opacity 200ms;
        &:focus,
        &:hover {
            opacity: 0.6;
        }
    }
}

.recipe-section {
    padding: 0 get-space('m');
    margin-top: get-space('l');
    &__heading {
        @include typo('preset3');
        margin: 0 0 get-space('s');
    }
}

.recipe-characteristic {
    padding: get-space('s');
    border: 1px solid get-color('gray-normal');
    border-radius: 4px;
    height: 100%;
    &__heading {
        @include typo('preset6');
        margin: 0 0 get-space('s');
    }
}