.recipe {
    &__content {
        background-color: white;
        padding: get-space('xl') get-space('l');
        border-radius: 4px;
        margin-top: get-space('xl');
        & p {
           margin: 0; 
        }
        & p + p {
            margin-top: get-space('m');
        }
    }
}

.recipe-header {
    display: flex;
    align-items: center;
    background-color: get-color('green-normal');
    position: relative;
    padding: get-space('xl') 0;
    &__main {
        position: relative;
        text-align: center;
    }
    &__title {
        color: white;
        font-size: 48px;
        line-height: 56px;
        font-weight: bold;
        margin: 0;
    }
    &__stars {
        justify-content: center;
        margin-top: get-space('l');
    }
    &__reviews {
        color: white;
        display: inline-block;
        text-decoration: underline;
        margin-top: get-space('xs');
    }
}

.adding-review {
    &__heading {
        margin: 0 0 get-space('l');
        @include typo('preset3');
    }
    &__main {
        background-color: white;
        border-radius: 4px;
        padding: get-space('l') get-space('m');
    }
}


.reviews {
    &__heading {
        margin: 0 0 get-space('l');
        @include typo('preset3');
    }
    &__main {
        & > * + * {
            margin-top: get-space('m');
        }
    }
}

.review-card {
    display: flex;
    align-items: flex-start;
    background-color: white;
    padding: get-space('m');
    border-radius: 4px;
    &__avatar {
        background-color: get-color('gray-light');
        flex-shrink: 0;
        margin-right: get-space('s');
        overflow: hidden;
        border-radius: 50px;
        width: 64px;
        height: 64px;
        &--no-avatar {
            display: flex;
            align-items: center;
            justify-content: center;
            & > p {
                font-size: 32px;
                line-height: 32px;
                font-weight: bold;
                color: get-color('gray-normal');
                user-select: none;
                margin: 0;
            }
        }
    }
    &__heading {
        margin: 0 0 get-space('xxs');
        @include typo('preset5');
    }
    &__date {
        color: get-color('black-light');
        margin: 0 0 get-space('xs');
        @include typo('preset7');
    }
    &__review {
        margin: 0;
    }
    &__stars {
        color: get-color('gray-normal');
        margin-top: get-space('s');
    }
}