/**
 * Page
 * 
 * The section component is used to place different content inside.
 */

.section {
    &__heading {
        margin: 0 0 get-space('xl');
        @include typo('preset2');
    }
    &__footer {
        margin-top: get-space('l');
        text-align: center;
    }
}

.section-small {
    &__heading {
        margin: 0 0 get-space('l');
        @include typo('preset3');
    }
}