/**
 * Box
 *
 * The boxing component acts as a container for other components.
 */

.box {
    background-color: white;
    border-radius: 4px;
    padding: get-space('l') get-space('m');
    position: relative;
    overflow: hidden;
}