/**
 * Button
 *
 * Button component.
 */
 
.btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: get-space('xs') get-space('s');
    display: inline-block;
    border-radius: 4px;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    @include typo('preset5');
    &--lg {
        padding: get-space('s') get-space('m');
    }
    &--primary {
        background-color: get-color('green-normal');
        color: white;
        transition: background-color 200ms;
        .theme-purple &{
            background-color: get-color('purple-normal');
        }
        &:focus,
        &:hover {
            background-color: get-color('green-light');
            .theme-purple &{
                background-color: get-color('purple-light');
            }
        }
        &:active {
            background-color: get-color('green-dark');
            .theme-purple &{
                background-color: get-color('purple-dark');
            }
        }
    }
    &--secondary {
        background-color: white;
        box-shadow: inset 0 0 0 1px get-color('gray-normal');
        color: get-color('black-normal');
        transition: background-color 200ms, box-shadow 200ms;
        &:focus,
        &:hover {
            box-shadow: inset 0 0 0 1px get-color('black-normal');
        }
        &:active {
            background-color: get-color('gray-lighter');
        }
    }
    &--light {
        background-color: white;
        color: get-color('black-normal');
        transition: background-color 200ms, box-shadow 200ms;
    }
}


