.pagination {
    display: flex;
    justify-content: center;
    &__list {
        @include list-unstyled();
        display: flex;
    }
    &__item {
        margin-right: get-space('xs');
    }
    &__link {
        display: inline-block;
        line-height: 40px;
        padding: 0 16px;
        background-color: white;
        border-radius: 4px;
        color: inherit;
        transition: background-color 200ms, color 200ms;
        &.is-active {
            background-color: get-color('green-normal');
            color: white;
        }
        &:not(.is-active):hover,
        &:not(.is-active):hover {
            background-color: get-color('green-normal');
            color: white;
        }
        &:not(.is-active):active {
            background-color: get-color('green-dark');
            color: white;
        }
    }
}