/**
 * Page Footer
 *
 * Page Footer component.
 */

.page-footer {
    &__inner {
        background-color: white;
        padding-top: get-space('l');
        padding-bottom: get-space('l');
    }
}