.recipe-card {
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
    height: 100%;
    &__body {
        padding: get-space('l') get-space('m');
    }
    &__title {
        @include typo('preset5');
        margin: 0;
    }
    &__stars {
        color: get-color('gray-normal');
        margin-top: get-space('xs');
    }
    &__tags {
        margin-top: get-space('xs');
    }
    &__btn {
        margin-top: get-space('s');
    }
}