.star-rating {
    display: flex;
    color: white;
    font-size: 16px;
    line-height: 1em;
    &--lg {
        font-size: 24px;
    }
    & > *.is-active {
        color: get-color('yellow-normal');
    }
    & > * + * {
        margin-left: get-space('xs');
    }
}