.header-nav {
    &__list {
        @include list-unstyled();
        display: flex;
    }
    &__item {

    }
    &__link {
        @include typo('preset6');
        color: get-color('black-dark');
        display: block;
        padding: get-space('xs');
        &:hover {
            color: get-color('green-normal');
        }
    }
}

.search-section {
    background-color: get-color('green-normal');
    padding-top: get-space('xxl');
    padding-bottom: get-space('xxl');
    &__heading {

    }
}

.header-auth {
    display: flex;
    flex-wrap: wrap;
}

.review-card {
    display: flex;
    align-items: flex-start;
    background-color: white;
    padding: get-space('m');
    border-radius: 4px;
    &__avatar {
        flex-shrink: 0;
        margin-right: get-space('s');
        overflow: hidden;
        border-radius: 50px;
    }
    &__heading {
        margin: 0 0 get-space('xxs');
        @include typo('preset5');
    }
    &__review {
        margin: 0;
    }
}