/**
 * Variables
 */


/**
 * Colors
 *
 * Basic colors in the interface
 */

$colors: (
    "black-light": #6E757B,
    "black-normal": #474D52,
    "black-dark": #181A1B,

    "gray-lighter": #F1F2F4,
    "gray-light": #F1F2F4,
    "gray-normal": #D5D9DD,

    "green-light": #27C168,
    "green-normal": #27AE60,
    "green-dark": #209752,

    "yellow-normal": #F2C94C,

    "red-normal": #df5555
);


/**
 * Typography
 *
 * Basic set of text styles
 */

$typography: (
    "preset1": (
        "font-size": 40px,
        "line-height": 48px,
        "font-weight": normal
    ),
    "preset2": (
        "font-size": 32px,
        "line-height": 40px,
        "font-weight": normal
    ),
    "preset3": (
        "font-size": 24px,
        "line-height": 32px,
        "font-weight": normal
    ),
    "preset4": (
        "font-size": 16px,
        "line-height": 20px,
        "font-weight": bold
    ),
    "preset5": (
        "font-size": 16px,
        "line-height": 24px,
        "font-weight": normal
    ),
    "preset6": (
        "font-size": 14px,
        "line-height": 20px,
        "font-weight": bold,
        "letter-spacing": 0.05em,
        "text-transform": uppercase
    ),
    "preset7": (
        "font-size": 14px,
        "line-height": 20px,
        "font-weight": normal
    ),
    "preset8": (
        "font-size": 12px,
        "line-height": 16px,
        "font-weight": bold,
        "letter-spacing": 0.05em,
        "text-transform": uppercase
    )
);


/**
 * Breakpoints
 *
 * Set of breakpoints for media queries
 */

$grid-breakpoints: (
    "xs": 0,
    "sm": 576px,
    "md": 768px,
    "lg": 992px,
    "xl": 1200px,
    "xxl": 1400px
);


/**
 * Spaces
 *
 * Set of indents
 */

$spaces : (
    "xxs": 4,
    "xs": 8,
    "s": 16,
    "m": 24,
    "l": 32,
    "xl": 48,
    "xxl": 64,
    "xxxl": 96
);


/**
 * Space Prefixes
 *
 * Prefixes for generating a set of indents
 */

$space-prefixes : (
    "p"  : padding,
    "pt" : padding-top,
    "pr" : padding-right,
    "pb" : padding-bottom,
    "pl" : padding-left,
    "m"  : margin,
    "mt" : margin-top,
    "mr" : margin-right,
    "mb" : margin-bottom,
    "ml" : margin-left,
);


/**
 * Grid
 *
 * Settings for the main grid
 */

$grid-columns : 12;
$grid-default-gutter: 32;

$grid-gutters : (
    "1": 24,
    "2": 16,
);


/**
 * Container Indents
 *
 * Indentation of containers depending on breakpoints.
 */

$max-container-padding: 64px;
$container-padding: (
    "xs": 16px,
    "md": 32px,
    "lg": $max-container-padding
);


/**
 * Container Width
 *
 * A set of containers of different widths.
 */

$container-width: (
    "small": 752px,
    "medium": 976px,
    "normal": 1264px
);


/**
 * Z-Layers
 *
 * List of main layout levels.
 */

$z-layers: (
    "bottomless-pit": -9999,
    "default": 1,
    "dropdown": 3000,
    "overlay": 4000,
    "modal": 4001
);